In [8]:
import airflow

In [1]:
from airflow import DAG

[2018-07-21 13:51:35,645] {__init__.py:57} INFO - Using executor SequentialExecutor

In [4]:
import tushare as ts

In [7]:
ts.get_cpi()

       month     cpi
0     2018.6  101.90
1     2018.5  101.75
2     2018.4  101.80
3     2018.3  102.06
4     2018.2  102.90
5     2018.1  101.47
6    2017.12  101.85
7    2017.11  101.73
8    2017.10  101.87
9     2017.9  101.60
10    2017.8  101.77
11    2017.7  101.40
12    2017.6  101.64
13    2017.5  101.45
14    2017.4  101.17
15    2017.3  100.92
16    2017.2  102.39
17    2017.1  102.55
18   2016.12  103.04
19   2016.11  102.25
20   2016.10  102.10
21    2016.9  101.90
22    2016.8  101.34
23    2016.7  101.77
24    2016.6  101.88
25    2016.5  102.04
26    2016.4  102.33
27    2016.3  102.30
28    2016.2  102.28
29    2016.1  101.75
..       ...     ...
312   1992.6  104.80
313   1992.5  104.70
314   1992.4  107.10
315   1992.3  105.30
316   1992.2  105.30
317   1992.1  105.50
318  1991.12  104.50
319  1991.11  104.40
320  1991.10  104.80
321   1991.9  104.50
322   1991.8  104.90
323   1991.7  104.70
324   1991.6  104.40
325   1991.5  103.60
326   1991.4  101.30
327   1991.3  101.60
328   1991.2  101.00
329   1991.1  102.20
330  1990.12  104.30
331  1990.11  103.70
332  1990.10  103.10
333   1990.9  102.90
334   1990.8  102.50
335   1990.7  101.10
336   1990.6  101.10
337   1990.5  102.70
338   1990.4  103.20
339   1990.3  103.40
340   1990.2  104.40
341   1990.1  104.30

[342 rows x 2 columns]